<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }} | {{ site.affiliation }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="canonical" href="{{ site.canonical }}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    {% if site.font == "Sans Serif" %}
    <link rel="stylesheet" href="./assets/css/font_sans_serif.css">
    {% else %}
    <link rel="stylesheet" href="./assets/css/font.css">
    {% endif %}

    <link rel="stylesheet" href="./assets/css/style-no-dark-mode.css">
    <link rel="stylesheet" href="./assets/css/publications-no-dark-mode.css">
  </head>

  <body>
    <div class="wrapper">
      <header>

        {% if site.avatar %}
        <a class="image avatar">
          <img src="{{ site.avatar }}" alt="avatar" />
        </a>
        {% endif %}

      <h1 style="margin-bottom:8px;">{{ site.title }}</h1>

        {% if site.position %}
      <div style="font-size:1.10rem; margin-bottom:4px;">
        {{ site.position }}
      </div>
        {% endif %}

        {% if site.affiliation %}
<div style="margin-bottom:4px;">
  <a href="{{ site.affiliation_link }}" rel="noopener">
    <autocolor>{{ site.affiliation }}</autocolor>
  </a>
</div>
        {% endif %}

        {% if site.email %}
      <div style="margin-bottom:8px;">
  <email>{{ site.email }}</email>
</div>
        {% endif %}
    
    {% if site.quote %}
<div style="font-size:1.00rem; margin-top:0px; margin-bottom:5px; line-height:1.5;">
  {{ site.quote }}
</div>
    {% endif %}
    
    {% if site.link_type == 'icon' %}
    <div class="social-icons"
         style="position: relative;
                z-index: 9999;
                pointer-events: auto;
                margin-top: 0px;">

          {% if site.cv_link %}
          <a style="margin: 0 8px 0 0; position: relative; z-index: 9999;"
             href="{{ site.cv_link | relative_url }}"
             target="_blank"
             rel="noopener noreferrer">
            <i class="ai ai-cv" style="font-size:1.3rem; pointer-events:none;"></i>
          </a>
          {% endif %}

          {% if site.github_link %}
          <a style="margin: 0 8px 0 0; position: relative; z-index: 9999;"
             href="{{ site.github_link }}"
             target="_blank"
             rel="noopener noreferrer">
            <i class="fab fa-github" style="pointer-events:none;"></i>
          </a>
          {% endif %}

          {% if site.linkedin %}
          <a style="margin: 0 8px 0 0; position: relative; z-index: 9999;"
             href="{{ site.linkedin }}"
             target="_blank"
             rel="noopener noreferrer">
            <i class="fab fa-linkedin" style="pointer-events:none;"></i>
          </a>
          {% endif %}

          {% if site.twitter %}
          <a style="margin: 0 0 0 0; position: relative; z-index: 9999;"
             href="{{ site.twitter }}"
             target="_blank"
             rel="noopener noreferrer">
            <i class="fab fa-x-twitter" style="pointer-events:none;"></i>
          </a>
          {% endif %}

        </div>
        {% endif %}

      </header>

      <section>
        {{ content }}
      </section>

      <footer></footer>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
